h1{
    color: red;
}
h2{
    color: grey;
    text-decoration: underline;
}
.Franky:first-child{
    font-style: italic; 
    background-color: green;
}
.Franky{
    background-color: green;
}
.Boris {
    color: orange;
    background-color: lightgreen;
    font-style: italic; 
}

.Tony{
    color: yellow;
    background-color: brown;
}

.Avi:first-child{
    background-color: lightskyblue;
}

.Avi{
    background-color: lightskyblue;
    font-style: italic;
}

p{
    font-style: italic;
}
li{
    list-style-type: upper-roman;
}

ol li:nth-child(3) {
    color: gray;
    background-color: green;
}

ol li:nth-child(4) {
    color: purple;
    background-color: skyblue;
}

ol li:nth-child(5) {
    color: lightgreen;
    background-color: brown;
}

ol li:nth-child(6) {
    color: brown;
    background-color: yellow;
}

ul li a {
    color: green;
}